PORT='3000'
APP_NAME='UITOUX'
DB_CONNECTION='mongodb+srv://admin:QOuZFQ1jWxmJB2Ee@free-cluster.mdm50rs.mongodb.net/uitoux'
JWT_SECRET_KEY='fTRc3HrEQFe7B3VybnbGb1Kd0Hs6TsIUxBxIRvzmU4yJDmMLcLhvNMICGtFX26efWWm6bQbJneDH441CxF967yXh8VZ23Y'
ACCESS_EXPIRE_TIME='1d'
REFRESH_EXPIRE_TIME='15d'
BCRYPT_SALT_ROUND='12'